Language: Cpp
# 基于Google风格但有定制
BasedOnStyle: Google

# 缩进设置
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: None

# 行长度限制
ColumnLimit: 100

# 大括号样式
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

# 类和命名空间的样式
CompactNamespaces: false
FixNamespaceComments: true

# 对齐和排版
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# 函数参数格式
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true

# 换行和分隔符
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

# 缩进模式
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: false

# 空格使用
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# 指针对齐
PointerAlignment: Left

# 构造函数初始化列表样式
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# 注释
ReflowComments: true

# 包含文件的排序
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    2
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '<[[:alnum:].]+>'
    Priority:        4
  - Regex:           '.*'
    Priority:        1

# 其他格式控制
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes

# 限制空行
MaxEmptyLinesToKeep: 1

# 排序using声明
SortUsingDeclarations: true


# 预处理器指令对齐
IndentPPDirectives: None